
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="body" class="Bowling" ng-app="bowlingApp" ng-controller="bowlersController as vm">
    <div ng-view id="mainview">
        

    </div>
    

</div>
